# Токен вашего бота, полученный от @BotFather
BOT_TOKEN=ваш_токен_бота

# URL вашего веб-приложения (мини-приложения)
APP_URL=https://pablochikone.github.io/telegram-mini-app/

# Словарь с ID разрешенных пользователей
ALLOWED_USERS={"123456789": "Имя пользователя"}
